.App {
  text-align: center;
}
.number1{
  z-index: 100000;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btns {

  cursor: pointer;
  /* // display: block; */
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em ;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  
/* //   @media(min-width: 400px) {
//     display: inline-block;
//     margin-right: 2.5em;
  
//     &:nth-of-type(even) {
//       margin-right: 0;
//     }
//   } */
  
 @media(min-width: 600px) {
      
    margin: 0 1em 2em; 
  
/* //     &:nth-of-type(even) {
//       margin-right: 2.5em;
//     }
    
//     &:nth-of-type(5) {
//       margin-right: 0;
//     }*/ 
    
   } 
}
.btn-1 {
  background: darken(red, 1.5%);
  font-weight: 100;

}
.btn-1 svg{
   
    height: 40px;
    left: 0;
    position: absolute;
    top: -10px; 
    width: 140px; 
  
}
.btn-1 rect{
    fill: none;
    stroke: blueviolet;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}
.btn-1:hover {
  background: transparent;
  font-weight: 900;
  letter-spacing: 1px;
}
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}









.btn:hover{
  text-decoration: none;
}

 .btn-2 {
  letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
letter-spacing: 5px;
}

.btn-2::after,
.btn-2::before {
  backface-visibility: hidden;
  border: 1px solid #ffffff;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover::after,
.btn-2:hover::before {
  backface-visibility: hidden;
  border-color:  #fc03b6;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover::before {
  bottom: auto;
  top: 0;
  width: 70%;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes slidein {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 300px;
  }
  100% {
    margin-left: 0%;
  }
}
@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
.homes{
  background: linear-gradient(5deg,#f02711,#b8f011, #ee7752, #e73c7e, #23a6d5, #23d5ab,#8810eb,#f1f505,#0d1382,#f08811,#11f080,#11bcf0,#350a6b);
  /* background-size: 400% 400%; */
  /* animation: gradient 15s ease infinite; */
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
